:root {
    font-family: sans-serif;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}
/*-----HEADER-----------------------------------------------------------------------*/
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 10px 30px;
}
.header .searchbar {

}
input {
    width: 100%;
    height: 2rem;
    background-color: rgb(238, 238, 238);
    border: 0px none;
    border-radius: 1rem / 1rem;
    outline: none;
    padding-left: 10px;
}
input:focus {
    border: 1px solid black;
}

.header .options ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.header .options ul button {
    background-color: #4ca6dd;
    border: none;
    border-radius: 15px / 15px;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bold;
}


/*-----SIDEBAR-----------------------------------------------------------------------*/
.sidebar {
    background-color: #4ca6dd;
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    padding: 20px;
}

.sidebar.options {
    padding: 0;
}
/*-----MAIN-----------------------------------------------------------------------*/
.main {
    background-color: rgb(238, 238, 238);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.project.container {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;

}
.project.container h2 {
    grid-area: 1 / 1 / 2 / 3;
}
.cards {
    grid-area: 2 / 1 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 32px;
}
.card {
    background-color: white;
    border-radius: 10px;
}

.announcements.container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}
.announcements.title{
    grid-area: 1
}

.trending.container {
    grid-area: 2 / 2 / 3 / 3;
}



